SUPABASE_PROJECT_REF=xbwdjfvhulqdiswkazpn
SUPABASE_URL=https://xbwdjfvhulqdiswkazpn.supabase.co
SUPABASE_ANON_KEY=your-supabase-anon-key
DATABASE_URL="postgresql://postgres.[PROJECT_REF]:[PASSWORD]@aws-0-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.[PROJECT_REF]:[PASSWORD]@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"
